<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ReadCAL</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">       
    </head>
    <body>

        <div class="container-fluid">

            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">ReadCAL</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a id="aPathDirectory" class="nav-link" href="#">Features</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                      
                      <button id="btnLeerDocumento" class="btn btn-outline-warning my-3 my-sm-0" type="button">Leer Documentos</button>
                    </form>
                  </div>
                </div>
            </nav>

            <span id="spanVersion"></span>
            <br>

            <div id="dataGrid"></div>

           
        </div>
    </body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.1.4/css/dx.light.css">
   
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.1.4/js/dx.all.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.0.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>

    <script src="index.js"></script>

    

</html>